.GalleryText {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  line-height: 1;
  padding: 5px 5px;
  color: rgb(14, 8, 8);
  text-align: center;
  text-decoration: none;
  text-align: center;
}

.GalleryLink {
  display: block;
  text-decoration: none;
  height: 350px;
  padding: 0;
  margin: 0;
}

.GalleryImage {
  height: 300px;
  width: 200px;
}
